/*cuerpo completo */

body{
  background: rgb(162, 77, 247);
background: linear-gradient(90deg, rgba(162, 77, 247,1) 10%, rgba(49, 22, 201,1) 70%);
text-align: center;
align-items: center;
  justify-content: center;
}

p{
  font-family: Gill Sans, sans-serif;
  padding: 0 20px;
}

.cuerpo{
  width: 80%;
  max-width: 600px;
  height:fit-content;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 2px 15px 5px;
  overflow: hidden;
}


input{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    border-radius: 7px;
    border: none;
    height: 22px;
}
/*cajas*/
.texto{
    background-color:#29d0d6;
    width: 50%;
    height: 350px;
    max-height: 500px;
    padding: 100px 0 0 0;
    overflow: hidden;
    
}
.formulario{
    background-color:white;
    width: 50%;
    height: 450px;
}

/*títulos*/

h1, h2{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;

 font-size: 40px;
 margin-bottom: 0;
padding-top: 15px;
}
h1{
    color: white;
}

#necesario{
  
  text-align: left;
  color: gray;
  font-style: italic;
}

/*datos de contacto */

.lol{
  display: block;
  text-align: center;
  width: 70%;
  margin: 5px auto;
  padding-right: 30px;
  padding-left: 20px;
  background-color: lightgrey;
}


/*comentarios */
textarea{
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  width: 85%;
  height: 8em;
  border-radius: 7px;
    border: none;
    background-color: lightgray;
}

/*boton enviado */
button{
  text-align: center;
  color: white;
  margin: auto;
  display: block;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  padding: 10px;
  margin-top: 15px;
  margin-bottom:20px;
  background-color:#29d0d6;
  border-radius: 7px;
  border:none;
}
